lib/blueprints/tymly-blueprint/state-machines/add-gov-uk-custom-template-recipient.json
{
  "Comment": "Add Custom Notify Message Template Recipient",
  "name": "Add Custom Notify Message Template Recipient",
  "version": "1.0",
  "categories": [
    "govUkNotify"
  ],
  "StartAt": "FindingTemplate",
  "States": {
    "FindingTemplate": {
      "Type": "Task",
      "InputPath": "$.customTemplateId",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "tymly_govUkCustomTemplates"
      },
      "ResultPath": "$",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiName": "tymly_govUkAddCustomTemplateRecipient",
        "dataPath": "$"
      },
      "Next": "CheckRecipient"
    },
    "CheckRecipient": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.messageType",
          "StringEquals": "sms",
          "Next": "RecipientIsPhoneNumber"
        },
        {
          "Variable": "$.messageType",
          "StringEquals": "mail",
          "Next": "RecipientIsEmailAddress"
        }
      ]
    },
    "RecipientIsPhoneNumber": {
      "Type": "Pass",
      "Parameters": {
        "recipient.$": "$.phoneNumber"
      },
      "ResultPath": "$",
      "Next": "AddRecipient"
    },
    "RecipientIsEmailAddress": {
      "Type": "Pass",
      "Parameters": {
        "recipient.$": "$.emailAddress"
      },
      "ResultPath": "$",
      "Next": "AddRecipient"
    },
    "AddRecipient": {
      "Type": "Task",
      "Parameters": {
        "customTemplateId.$": "$.customTemplateId",
        "recipient.$": "$.recipient"
      },
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "tymly_govUkCustomTemplateRecipients",
        "setMissingPropertiesToNull": false
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "tymly_govUkNotifyAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}