lib/blueprints/tymly-blueprint/state-machines/add-gov-uk-custom-template-recipient.json
{
  "Comment": "Add Custom Notify Message Template Recipient",
  "name": "Add Custom Notify Message Template Recipient",
  "version": "1.0",
  "categories": [
    "govUkNotify"
  ],
  "StartAt": "FindingTemplate",
  "States": {
    "FindingTemplate": {
      "Type": "Task",
      "InputPath": "$.customTemplateId",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "tymly_govUkCustomTemplates"
      },
      "ResultPath": "$",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiName": "tymly_govUkAddCustomTemplateRecipient",
        "dataPath": "$"
      },
      "Next": "AddRecipient"
    },
    "AddRecipient": {
      "Type": "Task",
      "Parameters": {
        "customTemplateId.$": "$.customTemplateId",
        "emailAddress.$": "$.emailAddress",
        "phoneNumber.$": "$.phoneNumber"
      },
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "tymly_govUkCustomTemplates",
        "setMissingPropertiesToNull": false
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "tymly_govUkNotifyAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}