lib/blueprints/tymly-blueprint/state-machines/get-ready-to-send-gov-uk-custom-template.json
{
  "Comment": "Get Ready to Send Custom Notify Message Template",
  "name": "Get Ready to Send Custom Notify Message Template",
  "version": "1.0",
  "categories": [
    "govUkNotify"
  ],
  "StartAt": "AwaitingHumanInput",
  "States": {
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiName": "tymly_govUkReadyToSendCustomTemplate",
        "dataPath": "$"
      },
      "Next": "UpsertConfig"
    },
    "UpsertConfig": {
      "Type": "Task",
      "Resource": "function:tymly_upsertGovUkSendConfig",
      "Next": "UpdateTemplate"
    },
    "UpdateTemplate": {
      "Type": "Task",
      "Resource": "module:upserting",
      "Parameters": {
        "id.$": "$.id",
        "sendOnEvents.$": "$.sendOnEventsNew",
        "status": "SEND_ON_EVENT"
      },
      "ResourceConfig": {
        "modelId": "tymly_govUkCustomTemplates",
        "setMissingPropertiesToNull": false
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "tymly_govUkNotifyCustomTemplateAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}