lib/blueprints/tymly-blueprint/state-machines/remove-gov-uk-custom-template-recipient.json
{
  "Comment": "Remove Custom Notify Message Template Recipient",
  "name": "Remove Custom Notify Message Template Recipient",
  "version": "1.0",
  "categories": [
    "govUkNotify"
  ],
  "StartAt": "FindingTemplate",
  "States": {
    "FindingTemplate": {
      "Type": "Task",
      "InputPath": "$.customTemplateId",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "tymly_govUkCustomTemplates"
      },
      "ResultPath": "$",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiName": "tymly_govUkRemoveCustomTemplateRecipient",
        "dataPath": "$"
      },
      "Next": "RemoveRecipient"
    },
    "RemoveRecipient": {
      "Type": "Task",
      "InputPath": "$.recipientId",
      "Resource": "module:deletingById",
      "ResourceConfig": {
        "modelId": "tymly_govUkCustomTemplateRecipients"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "tymly_govUkNotifyAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}