lib/blueprints/tymly-blueprint/state-machines/view-gov-uk-custom-template.json
{
  "Comment": "View custom template",
  "name": "View custom template",
  "version": "1.0",
  "categories": [
    "govUkNotify"
  ],
  "StartAt": "FindingTemplate",
  "States": {
    "FindingTemplate": {
      "Type": "Task",
      "InputPath": "$.customTemplateId",
      "Resource": "module:findCustomMessageTemplate",
      "ResultPath": "$",
      "Next": "FindingRecipients"
    },
    "FindingRecipients": {
      "Type": "Task",
      "InputPath": "$.customTemplateId",
      "Resource": "module:listCustomTemplateRecipients",
      "ResultPath": "$.recipients",
      "Next": "GrabSendConfig"
    },
    "GrabSendConfig": {
      "Type": "Task",
      "Resource": "module:finding",
      "ResourceConfig": {
        "modelId": "tymly_customTemplateSendConfig",
        "filter": {
          "where": {
            "customTemplateId": {
              "equals": "$.customTemplateId"
            }
          }
        }
      },
      "ResultPath": "$.sendConfigs",
      "Next": "CalculateMessageRates"
    },
    "CalculateMessageRates": {
      "Type": "Task",
      "Parameters": {
        "customTemplateId.$": "$.customTemplateId",
        "messageType.$": "$.messageType",
        "message.$": "$.message",
        "numRecipients.$": "$.recipients.length"
      },
      "Resource": "module:calculateMessageRates",
      "ResultPath": "$.messageRates",
      "Next": "GrabSendReceipts"
    },
    "GrabSendReceipts": {
      "Type": "Task",
      "Resource": "module:finding",
      "ResourceConfig": {
        "modelId": "tymly_govUkNotifications",
        "filter": {
          "where": {
            "customTemplateId": {
              "equals": "$.customTemplateId"
            }
          },
          "fields": [
            "error",
            "recipient",
            "statusCode",
            "modified"
          ],
          "orderBy": ["-modified"]
        }
      },
      "ResultPath": "$.sendReceipts",
      "Next": "CopySendOnEvents"
    },
    "CopySendOnEvents": {
      "Type": "Pass",
      "Parameters": {
        "sendOnEventsNew.$": "$.sendOnEvents"
      },
      "ResultPath": "$",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiName": "tymly_govUkViewCustomTemplate",
        "dataPath": "$"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "tymly_govUkNotifyCustomTemplateAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}
