lib/blueprints/tymly-blueprint/state-machines/view-gov-uk-custom-template.json
{
  "Comment": "View custom template",
  "name": "View custom template",
  "version": "1.0",
  "categories": [
    "govUkNotify"
  ],
  "StartAt": "GetSmsMessageRate",
  "States": {
    "GetSmsMessageRate": {
      "Type": "Task",
      "Resource": "module:getConfiguredRegistryKey",
      "ResourceConfig": {
        "key": "tymly_govUkSmsMessageRate"
      },
      "Parameters": {
        "defaultValue": 0
      },
      "ResultPath": "$.smsMessageRate",
      "Next": "FindingTemplate"
    },
    "FindingTemplate": {
      "Type": "Task",
      "InputPath": "$.customTemplateId",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "tymly_govUkCustomTemplates"
      },
      "ResultPath": "$",
      "Next": "FindingRecipients"
    },
    "FindingRecipients": {
      "Type": "Task",
      "InputPath": "$.customTemplateId",
      "Resource": "module:listCustomTemplateRecipients",
      "ResultPath": "$.recipients",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiName": "tymly_govUkViewCustomTemplate",
        "dataPath": "$"
      },
      "Next": "Send"
    },
    "Send": {
      "Type": "Task",
      "Parameters": {
        "recipients.$": "$.recipients",
        "templateName.$": "$.templateName",
        "customTemplateId.$": "$.id"
      },
      "Resource": "module:sendingCustomMessageViaService",
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "tymly_govUkNotifyAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}
