lib/blueprints/tymly-blueprint/state-machines/view-gov-uk-notification.json
{
  "Comment": "View notification sent via GOV UK Notify Service",
  "name": "View GOV UK Notify Notification",
  "version": "1.0",
  "categories": [
    "system"
  ],
  "StartAt": "Finding",
  "States": {
    "Finding": {
      "Type": "Task",
      "InputPath": "$.id",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "govUkNotifications"
      },
      "ResultPath": "$",
      "Next": "SetInputPath"
    },
    "SetInputPath": {
      "Type": "Task",
      "Resource": "module:runFunction",
      "ResourceConfig": {
        "functionName": "setGovUkNotificationInputPath"
      },
      "ResultPath": "$.messageStatusInput",
      "Next": "GetMessageStatus"
    },
    "GetMessageStatus": {
      "Type": "Task",
      "InputPath": "$.messageStatusInput",
      "Resource": "module:getMessageStatusViaService",
      "ResultPath": "$.messageStatus",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiName": "system_govUkNotification",
        "dataPath": "$"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "tymly_govUkNotifyAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}
