lib/blueprints/notify-blueprint/state-machines/view-notification.json
{
  "Comment": "View notification sent via Notify Service",
  "name": "View Notification",
  "version": "1.0",
  "categories": [
    "notify"
  ],
  "StartAt": "Finding",
  "States": {
    "Finding": {
      "Type": "Task",
      "InputPath": "$.id",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "notify_notifications"
      },
      "ResultPath": "$",
      "Next": "SetInputPath"
    },
    "SetInputPath": {
      "Type": "Task",
      "Resource": "function:notify_setNotificationInputPath",
      "ResultPath": "$.messageStatusInput",
      "Next": "GetMessageStatus"
    },
    "GetMessageStatus": {
      "Type": "Task",
      "InputPath": "$.messageStatusInput",
      "Resource": "module:getMessageStatusViaService",
      "ResultPath": "$.messageStatus",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiName": "notify_viewNotification",
        "dataPath": "$"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "notify_admin",
      "allows": [
        "*"
      ]
    }
  ]
}
